header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #440a1f;
  border-bottom: solid 10px #000;
  padding: 10px 20px;
}

img {
  max-width: 60px;
  max-height: 60px;
  transition: 150ms;
}

img:hover {
  transform: scale(1.1);
}

nav {
  text-align: justify;
}

div {
  display: inline-block;
  width: 100%;
}

a::before {
  content: "";
  background-color: #b22424;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

a {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-family: "Fira Code", monospace;
  font-weight: 500;
  margin-right: 30px;
  margin-top: 10px;
  transition: 150ms;
}

a:hover {
  transform: scale(1.1);
}

#button {
  display: inline-block;
  background-color: #b22424;
  padding: 18px 20px;
  box-shadow: 5px 5px 0px #000;
  margin-right: 0;
  transition: 150ms;
}

#button:hover {
  transform: scale(1.05);
}

section {
  content: "";
  background-color: #3a4042;
  display: flexbox;
  width: 627px;
  height: 184px;
  left: 91px;
  top: 196px;

  filter: drop-shadow(10px 10px 0px #000000);
}

h1 {
  text-align: center;
  align-items: center;
  width: 480px;
  height: 40px;
  left: 164px;
  top: 238px;
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #b32424;
  text-shadow: 4px 4px 0px #000000;
}
