.card-project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b32424;
  box-shadow: 10px 10px 0px #fff;
  width: 280px;
  height: 280px;
  margin: 0px 56px;
}
.card-project.-blue {
  background-color: aqua;
}
.card-project.-wine {
  background-color: #440a1f;
}
