.main-title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 40px;
  color: #b32424;
  text-shadow: 4px 4px 0px #000000;
  margin-bottom: 28px;
}

.main-title.-second {
  color: #fff;
  text-shadow: none;
  text-align: center;
  margin-bottom: 60px;
}
