.main-button {
  font-family: "Fira Code", sans-serif;
  font-weight: 500;
  display: inline-block;
  background-color: #b22424;
  padding: 18px 20px;
  box-shadow: 5px 5px 0px #000;
  margin-right: 0;
  transition: 150ms;
  text-decoration: none;
  color: #fff;
}

.main-button:hover {
  transform: scale(1.05);
}

.main-button.-full {
  width: 100%;
  font-weight: 500;
  font-size: 30px;
}
.main-button.-full:hover {
  transform: scale(1.01);
}

.main-button.-big:hover {
  transform: scale(1.35);
}
