.main-action::before {
  content: "";
  background-color: #b22424;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.main-action {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-family: "Fira Code", monospace;
  font-weight: 500;
  margin-right: 30px;
  margin-top: 10px;
  transition: 150ms;
}

.main-action:hover {
  transform: scale(1.1);
}
