.section {
  background-color: #b22424;
  height: 730px;
  padding-top: 50px;
  border-bottom: 10px solid #440a1f;
}
.section.-bgBlack {
  background-color: #000;
}
.section.-bdFirst {
  border-bottom: 10px solid #b22424;
}
